<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TBM Furniture</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container w-50 p-3">
    <h1 class="display-6">OrderList</h1>
    <table class="table table-bordered table-striped table-hover" >
    <thead class="thead-dark">
    <tr style="text-align: center; vertical-align: top; "
    class="table-dark">
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>   
    <th>Subtotal</th>
        
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cart ne null}" th:each="order : ${cart.orderLists}" >
    <td th:text="${order.product.name}"></td>
    <td style="text-align: right" th:text="${#numbers.formatDecimal(order.product.price, 0, 'COMMA', 2,'POINT')}"></td>
    <td style="text-align: right" th:text="${order.quantity}"></td>
    <td style="text-align: right" th:text="${#numbers.formatDecimal(order.getSubTotal(), 0, 'COMMA', 2,'POINT')}"></td>


    </tr>
    </tbody>
    </table>
    <p th:if="${cart ne null}" style="text-align: right">Total: <span th:text="${#numbers.formatDecimal(cart.getTotal(), 1, 'COMMA', 2, 'POINT')}"></span> Bahts</p>

    <form action="#" th:action="@{/orders/orderList}" method="POST">
        <div id="error-msg" th:if="${cart.getTotalQuantity.equals(true)}" class="alert alert-danger">
            Must order more than 3 products.
        </div>
    <button id="submit-button" th:disabled="${cart.getTotalQuantity.equals(true)}" type="submit" class="btn btn-primary" >Submit Order</button>
    </form>
    </div>
</body>
</html>