<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TBM Furniture</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
  <h1 class="display-5">Add Customer</h1>

  <form action="#" th:action="@{/customers/add}" method="POST">
    <div class="mb-3">
        <label for="inputName">Name</label>
        <input id="inputName" type="input" class="form-control"
               name="name" required>
    </div>

    <div class="mb-3">
      <label for="inputCompanyName">Company Name</label>
      <input id="inputCompanyName" type="input" class="form-control"
             name="companyName" required>
  </div>

  <div class="mb-3">
    <label for="inputNumber">Number</label>
    <input id="inputNumber" type="input" class="form-control"
           name="number" required>
</div>

<div class="mb-3">
  <label for="inputAddress">Address</label>
  <input id="inputAddress" type="input" class="form-control"
         name="address" required>
</div>
    <button id="submit-button" type="submit" class="btn btn-primary">Add Customer</button>
</form>
</div>
</body>
</html>