<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TBM Furniture</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div>
    <img src="https://www.stickley.com/cdn/shop/files/HomePage_SURREYHILLSImageBanner.jpg?v=1673554686&width=1500" alt="">
</div>
<div class="container">
    <h1 class="display-6" style="text-align: center;">  Welcome to TBM</h1>
    <div sec:authorize="isAuthenticated()">
        <p style="text-align: center;">Khun <b><span sec:authentication="name"></span></b></p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus similique rerum reiciendis eaque fuga? Officiis et, perferendis odit nesciunt quibusdam officia reprehenderit nostrum veritatis nihil, quam ullam! Reprehenderit, quaerat corporis.</p>
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-primary" th:href="@{/login}">Login</a>
        <a class="btn btn-light" th:href="@{/signup}">Sign Up</a>
    </div>
</div>
</body>
</html>