<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TBM Furniture</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>

        .bt{
            display: inline;
        }

    </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container w-50 p-3">
  
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr style="text-align: center; vertical-align: top; " class="table-dark">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${order ne null}" th:each="item : ${order.orderLists}" >
            <td th:text="${item.product.name}"></td>
            <td style="text-align: right" th:text="${#numbers.formatDecimal(item.product.price, 1, 'COMMA', 2, 'POINT')}"></td>
            <td style="text-align: right" th:text="${item.quantity}"></td>
            <td style="text-align: right" th:text="${#numbers.formatDecimal(item.getSubTotal(), 1, 'COMMA', 2, 'POINT')}"></td>
        </tr>
        </tbody>
    </table>
  
  
    <p th:if="${order ne null}" style="text-align: right">Total: <span th:text="${#numbers.formatDecimal(order.getTotal(), 1, 'COMMA', 2, 'POINT')}"></span> Bahts</p>

        <form class="bt"  action="#" th:action="@{/delivery/{id}/managed(id=${order.id})}" method="POST">
            <div id="error-msg" th:if="${order.checkDeliveryStatus.equals(false)}" class="alert alert-danger">
                Already paid
            </div>
            <button id="submit-button" th:disabled="${order.checkDeliveryStatus.equals(false)}" type="submit" name="givePaymentCompleteStatus"
                     class="btn btn-success" > Payment Complete
            </button>
      </form>
  
      <form class="bt" action="#" th:action="@{/delivery/{id}/claim(id=${order.id})}">
          <button  class="btn btn-danger" th:disabled="${order.checkDeliveryStatus.equals(false)}">Claim</button>
      </form>
  
      <form class="bt" action="#" th:action="@{/delivery/{id}/receipt(id=${order.id})}">
          <button  class="btn btn-dark" th:disabled="${order.checkDeliveryStatus.equals(true)}">Print Receipt</button>
          </form>






    
  </div>
</body>
</html>