<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TBM Furniture</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <style> 
    p{
        display: inline;
    }
</style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container w-50 p-3" style="border: solid 2px gray;">
  <h1 class="display-5">ใบเสร็จ</h1>
  <br>
  <p>หมายเลขใบเสร็จ : </p>
  <p th:text="${receipt.id}"></p>
  <br>
  <p>หมายเลขคำสั่งซื้อ : </p>
  <p th:text="${receipt.purchaseOrder.id}"></p>
  <br>
  <p>รหัสลูกค้า : </p>
  <p th:text="${receipt.purchaseOrder.customer.id}"></p>
  <br>
  <p>ชื่อลูกค้า : </p>
  <p th:text="${receipt.purchaseOrder.customer.name}"></p>
  <br>
  <p>ชื่อบริษัท : </p>
  <p th:text="${receipt.purchaseOrder.customer.companyName}"></p>
  <br>
  <p>วันที่จัดส่ง : </p>
  <p th:text="${#temporals.format(receipt.deliveryDate, 'dd/MM/yyyy เวลา HH:mm')}"></p>
  

  <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr style="text-align: center; vertical-align: top; " class="table-secondary">
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${receipt ne null}" th:each="item : ${receipt.purchaseOrder.orderLists}" >
          <td th:text="${item.product.name}"></td>
          <td style="text-align: right" th:text="${#numbers.formatDecimal(item.product.price, 1, 'COMMA', 2, 'POINT')}"></td>
          <td style="text-align: right" th:text="${item.quantity}"></td>
          <td style="text-align: right" th:text="${#numbers.formatDecimal(item.getSubTotal(), 1, 'COMMA', 2, 'POINT')}"></td>
      </tr>
      </tbody>
  </table>
  <p th:if="${receipt ne null}" style="text-align: right">Total: <span th:text="${#numbers.formatDecimal(receipt.purchaseOrder.getTotal(), 1, 'COMMA', 2, 'POINT')}"></span> Bahts</p>

</div>
</body>
</html>